.launch-content{
	position: relative;
	width: 100%;
	background: #333;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	background-image: url('cover.png');
	.top-content{
		.logo-content{
			clear: both;
			position: relative;
			left: 47%;
			top: 5%;
	  		width: 12%;
			height: 12%;
			margin-bottom: 200px;
			background:image-url("stutern_logo.png");
			background-size: contain;
			background-repeat: no-repeat;
		}
		.text-content{
			clear: both;
			margin: 0;
			padding: 0;
			color: black;
			text-align: center;
			top: 50%;
			left: 50%;
			-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate3d(-50%,-50%,0);
			p{
				padding: 0;
				margin: 0;
				font-weight: normal;
			}
			.text_head{
				p{
				font-size: 30px;
				line-height: rem-calc(4em);
				}
			}
			.text_body{
				p{
				font-size: 14px;
				// line-height: 500px;
				}
			}
			.text_end{
				margin-bottom: 75px;
				p{
				// line-height: 500px;
				font-size: 35px;
				}
			}
		}
	}
	.mid-content{}
	.down-content{
	#apply_button{
				margin-bottom: 60px;
				clear: both;
					// @media #{$medium-only}{
					// 	margin: rem-calc(5px 0px 0px 0px);
					// 	float: left;
					// }
					// @media #{$small-only}{
					// 	margin: rem-calc(5px 0px 0px 0px);
					// 	float: left;
					// }
				.button{padding: rem-calc(10px 10px);}
				a{	
					color: white;
					background-color: #0ee6de;
					padding: 5px  10px;
					border-radius: 2px;
					// font-size: $varfontsize_h2;
					// @media #{$medium-only}{
					// 	font-size: $varfontsize_h4;
					// }
					// @media #{$small-only}{
					// 	font-size: $varfontsize_h3;
					// }
				}
				a:hover{
					background-color: #0ee6de + #111111;

				}
			}
	}
		// .blog{
		// 	margin: 0 5%;
		// 	background-color: white;
		// 	border-radius: 3px;
		// 	width: 90%;
		// 	height: 150px;
		// }
	
}	
